<% @page_title="about" %>
<div class="banner-head">
  <div class="banner-1"></div>
  <div class="container">
    <h1>The Team</h1>
  </div>
</div>
<!--content-->
<div class="about">
  <!--content-top-->
  <div class="container">

    <div class="about-top">
      <h3>Management Team</h3>

      <div class="col-sm-4 top-content">
        <a href="/assets/niko1.jpg"> <%= image_tag("niko1.jpg", :class => "img-responsive") %></a>
        <h4><a href="/rainbowconnection/ceo">CEO</a></h4>
        <h5>Rwendeire Nicholas R. A</h5>

        <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>

      </div>
      <div class="col-sm-4 top-content">
        <a href="single.html"> <%= image_tag("alx2.jpg", :class => "img-responsive") %></a>
        <h4><a href="single.html">Director</a></h4>
        <h5>Alex Nkusi Shyaka</h5>

        <a class="btn btn-social btn-facebook" href="https://www.facebook.com/shyakaster"
           title="Alex Nkusi Shyaka" target="_TOP"><i class="fa fa-facebook"></i></a>

        <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a>

        <a class="btn btn-social btn-twitter" href="https://twitter.com/shyakaster"
           title="Alex Nkusi Shyaka" target="_TOP"
           data-show-count="false"><i class="fa fa-twitter"></i></a>

        <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>

      </div>
      <div class="col-sm-4 top-content">
        <a href="single.html"> <%= image_tag("km1.jpg", :class => "img-responsive") %></a>
        <h4><a href="single.html">Business Dev Manager</a></h4>
        <h5>Owora William</h5>

        <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!---->


  <div class="why">
    <div class="container">
      <div class="why-top-top">
        <div class="why-top">
          <h2>Our Mission</h2>

          <p>An IT solutions enterprise committed to providing
            cutting edge technology creating customer satisfaction.</p>
        </div>

        <div class="why-top">
          <h2>Our Vision</h2>

          <p>To become the leading enterprise in IT innovation
            through proactive business solutions tailored to the
            client need.</p>
        </div>


        <div class="clearfix"></div>
      </div>

    </div>
  </div>
  <!---->
  <div class="team">
    <div class="container">
      <h3>Developer Team</h3>

      <div class="col-md-3 team-top">
        <%= image_tag("ak1.jpg", :class => "img-responsive") %>

        <div class="team-text">
          <h5>Developer</h5>

          <p>Akena Kenedy</p>

          <a class="btn btn-social btn-facebook" href="https://www.facebook.com/akenakennedy.ken"
             title="Akena Ken" target="_TOP"><i class="fa fa-facebook"></i></a>


          <a class="btn btn-social btn-google-plus g-person" href="https://plus.google.com/u/0/+kenedyakena"
             title="Akena Ken" target="_TOP"><i class="fa fa-google-plus"></i></a>


          <a class="btn btn-social btn-twitter" href="https://twitter.com/kenedyake" title="Akena Ken" target="_TOP"
             data-show-count="false"><i class="fa fa-twitter"></i></a>


          <a class="btn btn-social btn-linkedin" href="https://ug.linkedin.com/pub/kenedy-akena/b6/26b/958"
             title="Akena Ken" target="_TOP"><i class="fa fa-linkedin"></i></a>
        </div>

      </div>
      <div class="col-md-3 team-top">
        <%= image_tag("wk1.jpg", :class => "img-responsive") %>

        <div class="team-text">
          <h5>Developer</h5>

          <p>Wekesa Andrew</p>
          <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
        </div>

      </div>
      <div class="col-md-3 team-top">
        <%= image_tag("tee2.jpg", :class => "img-responsive") %>

        <div class="team-text">
          <h5>Analyst</h5>

          <p>Adikini Joyce</p>
          <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
        </div>

      </div>
      <div class="col-md-3 team-top">
        <%= image_tag("bk1.jpg", :class => "img-responsive") %>

        <div class="team-text">
          <h5>Developer</h5>

          <p>Biko Jeremy Biteete</p>
          <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>