<% @page_title="serv1" %>
<div class="banner-head">
  <div class="banner-1"></div>
  <div class="container">
    <h1>Business Systems</h1>
  </div>
</div>

<!--content-->
<div class="container">
  <div class="services">
    <div class="row">
      <div class="col-md-12">
        <div class="row bread">
          <div class="col-md-2 pad0">
            <p><i class="fa fa-eye"></i> You are here:</p>
          </div>
          <div class="col-md-10">
            <ol class="breadcrumb">
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="/rainbowconnection/services"><i class="fa fa-gears"></i> Services</a></li>
              <li class="active">Business Systems and Solutions</li>
            </ol>
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <div class="row row-pad-head">
          <div class="col-md-12">

          </div>
        </div>
        <div class="row row-head-bottom">
          <div class="col-md-12">
            <p class="lead">Rainbow Connection is an enterprise committed to delivering ingenious Information Technology
              products, solutions and technology.</p>
          </div>
        </div>
        <div class="row row-pad">
          <div class="col-md-4">
            <%= image_tag("str1.jpg", :class => "img-responsive") %>
          </div>
          <div class="col-md-8">
            <h5>Storage & High Availability Platforms</h5>

            <p>The evolution of new technologies to produce better
              content and high value imaging and media applications
              have put a high stipend on reliance on storage systems
              that can scale with requirements and meet the need
              when required. Rainbow Connection delivers
              configuration matrix for custom tailored storage
              requirement ranging from small Network Attached
              Storage Systems (NASs) for Small Oce Home Oce
              (SoHo) application to the high-end Storage Area
              Networks (SANs) built for high resilience, high
              performance and high availability (HR, HP & HA).</p>
          </div>
        </div>

        <div class="row row-pad">
          <div class="col-md-8">
            <h5>Education Management Information System</h5>

            <p>The adoption of computing platforms and the growth of
              applications that support various business operations
              have led to innovations in providing turnkey holistic
              business platforms that manage the web of demanding
              requirements in managing and operating Education
              Institutions.
              Rainbow Connections provides Education Management
              System that leverages unparalleled performance for
              administration, management and learning related
              activities for Education Institutions. The management
              information system provides student management,
              teachers, employees, courses and all the system and
              process related to running your institution eciently.</p>
            <br/>

            <p>The system provides business support for:</p>

            <div class="listing">
              <ul>
                <li>Universities</li>
                <li>Schools</li>
                <li>Colleges</li>
                <li>Training Centers</li>
              </ul>
            </div>
            <div class="listing">
              <ul>
                <li>Seminars</li>
                <li>Higher Institutions of Learning</li>
                <li>Vocational Institutes</li>
                <li>Tertiary Institutions</li>
              </ul>
            </div>
            <div class="clearfix"></div>

          </div>
          <div class="col-md-4">
            <%= image_tag("edu1.jpg", :class => "img-responsive") %>
          </div>
        </div>

        <div class="row row-pad">
          <div class="col-md-4">
            <%= image_tag("htl1.jpg", :class => "img-responsive") %>
          </div>
          <div class="col-md-8">
            <h5>Hospitality Management Information System</h5>

            <p>Rainbow Connections has partnered with a leading solution
              provider of a renowned Hospitality Platform. The solution
              delivers automation of the hospitality industry including but
              not limited to Hotels, motels, resorts, suites, apartments,
              medical centers, bed and breakfast (BB), Guest Houses and
              Rentals.
              The system is an integrated suite of modules that can be
              independently delivered to suite the customer environment.
              The modules include Reservation Platform, Front Oce
              Module, Call Accounting, Bar/Restaurant Point of Sale
              System, Inventory & Asset Management and a Hospitality
              Management Suite.</p>
          </div>
        </div>

        <div class="row row-pad">
          <div class="col-md-8">
            <h5>Application Delivery Platforms</h5>

            <p>Rainbow Connections delivers application hardware virtualization platforms to deliver business tools in a
              secure, ecient, and robust way enhancing delivery of applications and environments in shared systems
              over the Corporate Network.
              Rainbow Connections in partnership with Citrix Inc. leverage an Application Delivery Infrastructure that
              provides a resilient and robust delivery of applications to workplace peers in a networked environment.
              Citrix Application Delivery infrastructure enables corporates to be able to delivery work environments
              (applications or operating environments) using Virtualized platforms with enhanced ecient utilization
              of bandwidth, secure platform, a granular and user friendly experience, a truly follow me mobile
              experience and a lower TCO.</p>
          </div>
          <div class="col-md-4">
            <%= image_tag("dlv1.jpg", :class => "img-responsive") %>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <%= render(:partial => 'sidebar') %>
      </div>
    </div>

  </div>
</div>
