<!DOCTYPE html>
<html>
<head>
  <title>Rainbowconnection</title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= javascript_include_tag('application') %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="rainbow connection"/>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <script type="application/x-javascript"> addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
  }, false);
  function hideURLbar() {
      window.scrollTo(0, 1);
  } </script>
  <!---->
  <script type="application/x-javascript"> addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
  }, false);
  function hideURLbar() {
      window.scrollTo(0, 1);
  } </script>

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script>!function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + '://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js, fjs);
      }
  }(document, 'script', 'twitter-wjs');
  </script>

</head>
<body>
<%= render(:partial => 'header') %>
<%= yield %>
<%= render(:partial => 'footer') %>
</body>
</html>
